* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

.grid > * {
  flex: 1 100%;
}






@media only screen and (max-width: 1000px) {
  .navigation{display: none}
  .footer-1{display: none}
}
