

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
  display: block;
  background-color: #222222;
  border-bottom: 2px solid black;
}

.inner_header {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: #ffffff;
  height: 100%;
  width: 90px;
  display: table-cell;
  vertical-align: middle;
}

.big_logo {
  font-family: 'Girassol', cursive;
  font-size: 40px;
  padding: 0 0 0 15px;
}

.small_logo {
  font-family: 'Girassol', cursive;
  font-size: 15px;
  color: darkgray;
  padding: 0;
}

.navigation {
  float:right;
  height: 100%;
}

.navigation li{
  height:100%;
  display: table;
  float: left;
  padding: 0 20px;
}

.navigation li a {
  display: table-cell;
  vertical-align: middle;
  color: #dddddd;
}

