<header>
  <div class="inner_header">
    <div class="logo_container">
      <h1><span class="big_logo">I</span><span class="small_logo">nsane</span>
        <span class="big_logo">S</span><span class="small_logo">udoku</span>
        <span class="big_logo">S</span><span class="small_logo">olver</span>
      </h1>
    </div>
    <ul class="navigation">
      <li><a>Home</a></li>
      <li><a>Sudoku Solver</a></li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
    </ul>
  </div>
</header><!-- End of header div-->
<div class="main_window">

</div>
