.navigation {
  float: right;
  height: 100%;
}

.navigation li {
  height: 100%;
  display: table;
  float: left;
  padding: 0 20px;
}

.navigation li a {
  display: table-cell;
  vertical-align: middle;
  color: #dddddd;
}
@media only screen and (max-width: 1000px) {
  .navigation{display: none}
}
